{{ define "main" }}
  <a href="/posts/chapter1">Chapter 1: How to Avoid Anger in Gaming</a>
  <br>
  <a href="/posts/chapter2">Chapter 2: Why to Keep Playing</a>
  <br>
  <a href="/posts/chapter3">Chapter 3: How to Overcome Adversity</a>
  <br>
  <a href="/posts/chapter4">Chapter 4: The Dangers of Pride</a>
  <br>
  <a href="/posts/chapter5">Chapter 5: How to Avoid Blaming Thy Teammates</a>
  <br>
  <a href="/posts/chapter6">Chapter 6: How to Find Fellowship</a>
  <br>
  <a href="/posts/chapter7">Chapter 7: How to Be a Good Teammate</a>
  <br>
  <a href="/posts/chapter8">Chapter 8: How to Be a Good Sport</a>
  <br>
  <a href="/posts/chapter9">Chapter 9: How to Choose the Right Hero</a>
  <br>
  <a href="/posts/chapter10">Chapter 10: How to Communicate with Thy Teammates</a>
  <br>
  <a href="/posts/chapter11">Chapter 11: How to Learn from Failure</a>
  <br>
  <a href="/posts/chapter12">Chapter 12: How to Celebrate Success</a>
  <br>

{{ end }}
